{
  "extends": "airbnb",
  "rules": {
      "comma-dangle":"off",
      "react/jsx-filename-extension": [1, {
          "extensions": [".js", ".jsx"]
      }],
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      "linebreak-style": "off"
  },
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
     "jest": true
  }
}
